<div class="body">
    <p class="aboutme-paragraph">
        Hey, I'm Alec Yaksich, a Jr. Developer from Omaha, NE. Brand new in the developer world, but learning lots and only gettig better. Started in sales and became great with people which lead to great customer service skills. Taking those valuable assets and moving to the IT world by graduating from Googles IT program. From there, I secured a technical support positon and currently still work their. At the end of August, I started a twelve week immersive program from Midland University called Code Academy. Still currently enrolled and planning on graduating at the end of November, and looking forward to starting a new career in development. 
    </p>

    <!-- <footer class="footer">
        <a href="mailto:ayaksich08@gmail.com">
            <button>
                Email
            </button>
        </a> 
        <a href="https://www.linkedin.com/in/alec-yaksich-44063a186/">
            <button>
                LinkedIn
            </button>
        </a>
        <a href="https://github.com/ayaksich99?tab=repositories">
            <button>
                GitHub
            </button>
        </a>
    </footer> -->
</div>