<div class="parent">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="card-title">Currency App</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Screenshot (7).png">
      <mat-card-content>
      
      </mat-card-content>
      <mat-card-actions>
        <a class="githublink" href="https://github.com/ayaksich99/CurrencyApp.git">GitHub Link</a>
        
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="card-title">Chelsea App</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Screenshot (3).png">
      <mat-card-content>
    
      </mat-card-content>
      <mat-card-actions>
      <a class="githublink" href="https://github.com/ayaksich99/chelseaFanApp.git">GitHub Link</a>
      </mat-card-actions>
    </mat-card> 
  </div>
  