.example-card {
    flex-basis: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin: 25px;
    height: 50%;
    width: 50%;
  }
  .parent{
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    justify-content: center;
    background: url(/assets/tparisumblr_nvfz0iKrVw1qzcq51o1_540.gif);
    background-repeat: no-repeat;
    background-size: cover; 
  }
.githublink{
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.card-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}